# Server
PORT=3000

# PostgreSQL (business entities)
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=parking
POSTGRES_PASSWORD=parking
POSTGRES_DB=parking

# MongoDB (activity logs)
MONGO_URI=mongodb://localhost:27017/parking_logs

# JWT
JWT_SECRET=change-meeeeeee
JWT_EXPIRES_IN=1h
